################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/phonebookAPI/FileContentIndex/3be159e8-544a-4b4e-9c20-5af91a584acf.vsidx
